*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@font-face {
    font-family: JetBrains Mono;
    src: url(C:\Users\Gerencial\Downloads\fonts\ttf\JetBrainsMonoNL-Regular);
}

@font-face {
    font-family: Glitch Goblin;
    src: url(C:\Users\Gerencial\Downloads\GlitchGoblin-2O87v);
}

:root{
    --black: #000000;
    --cinza: #bababa;
    --branco:#ffffff;
}

body{
    background: hsla(0, 0%, 0%, 1);

background: linear-gradient(270deg, hsla(0, 0%, 0%, 1) 22%, hsla(0, 0%, 100%, 1) 100%);

background: -moz-linear-gradient(270deg, hsla(0, 0%, 0%, 1) 22%, hsla(0, 0%, 100%, 1) 100%);

background: -webkit-linear-gradient(270deg, hsla(0, 0%, 0%, 1) 22%, hsla(0, 0%, 100%, 1) 100%);

}

*{
    font-family: 'JetBrains Mono';
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.header{
    background-color: var(--black);
    height: 95px;
    width: 100%;
    box-shadow: 4px 4px 6px 3px rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
}

#textoHeader, #textoFooter{
   font-family: 'Glitch Goblin';
   color: var(--branco); 
   font-size: 45px;
}

#linux, #terminal, #ide, #server, #adm_user{
    width: 130px;
    margin: 16px;
}

.cardTopo{
    width: 720px;
    height: 168px;
    background-color: var(--branco);
    box-shadow: 4px 4px 6px 3px 
        rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 25% 0px 25%;
    flex-basis: 100%;
    text-decoration: none;
    color: #000000;
}

.cardTopo:hover{
    background-color: hsla(311, 74%, 87%, 1);

background: linear-gradient(90deg, hsla(311, 74%, 87%, 1) 0%, hsla(275, 19%, 88%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(311, 74%, 87%, 1) 0%, hsla(275, 19%, 88%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(311, 74%, 87%, 1) 0%, hsla(275, 19%, 88%, 1) 100%);
}

.tituloCard{
    padding: 60px;
    padding-bottom: 20px;
    font-size: 28px;
    text-align: center;
    
}

#tituloCardTopo{
    padding: 20px;
}

.topicoCard{
    padding: 8px;
    font-size: 20px;
}

.card{
    width: 460px;
    height: 520px;
    background-color: var(--branco);
    box-shadow: 4px 4px 6px 3px 
        rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 16px 8px;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    color: #000000;
}

.card:hover{
    background-color: hsla(311, 74%, 87%, 1);

    background: linear-gradient(90deg, hsla(311, 74%, 87%, 1) 0%, hsla(275, 19%, 88%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(311, 74%, 87%, 1) 0%, hsla(275, 19%, 88%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(311, 74%, 87%, 1) 0%, hsla(275, 19%, 88%, 1) 100%);
}

#card_middle{
    width: 450px;
}

.card_bottom{
    max-width: 460px;
    min-height: 520px;
    background-color: var(--branco);
    box-shadow: 4px 4px 6px 3px 
        rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    margin: 0px 8px;
    flex-basis: 50%;
    text-decoration: none;
    color: #000000;
}  

.card_bottom:hover{
    background-color: hsla(311, 74%, 87%, 1);

    background: linear-gradient(90deg, hsla(311, 74%, 87%, 1) 0%, hsla(275, 19%, 88%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(311, 74%, 87%, 1) 0%, hsla(275, 19%, 88%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(311, 74%, 87%, 1) 0%, hsla(275, 19%, 88%, 1) 100%);
}

#Inicio, #Contato{
    flex-basis: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 20px;
}

.opcoesInicio, .opcoesContato{
    padding: 16px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}

footer{
    width: 100%;
    height: 250px;
    display: flex;
    background-color: var(--black);
    color: #ffffff;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 32px;
}

#textoFooter{
    margin: 16px;
    width: 400px;
}

.lista{
    margin: 8px;
    padding: 8px;
}

#titleInicio, #titleContato{
    padding: 16px;
}

#criadoPor{
    width: 100px;
    background-color: #000000;
    border: none;
    color: #ffffff;
    margin-left: 32px;
    font-size: 16px;
}
